#默认使用的模型API服务
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=sk-xxx

#设置即梦模型
JIMENG_MODEL=jimeng

#设置封面图使用的模型
COVER_OPENAI_BASE_URL=https://api.openai.com/v1
COVER_OPENAI_API_KEY=sk-xxx
COVER_MODEL=gpt-4o
COVER_COUNT=2
SCREEN_BASE_URL=http://10.8.0.2:14140

#谷歌Gemini图像模型
GEMINI_IMAGE_OPENAI_BASE_URL=https://api.openai.com/v1
GEMINI_IMAGE_OPENAI_API_KEY=sk-xxx
GEMINI_IMAGE_COVER_MODEL=google/gemini-2.5-flash-image-preview:free

#Grok图像模型
GROK_IMAGE_OPENAI_BASE_URL=https://api.openai.com/v1
GROK_IMAGE_OPENAI_API_KEY=sk-xxx
GROK_IMAGE_IMAGE_MODEL=grok-imagine-1.0
GROK_IMAGE_IMAGE_EDIT_MODEL=grok-imagine-1.0-edit
GROK_VIDEO_MODEL=grok-imagine-1.0-video

#翻译代理
translate_proxy=

# fal.ai的API KEY
FAL_KEY=

# aichart的flowise访问地址
AICHART_FLOWISE_URL=
