#默认使用的模型API服务
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=sk-xxx

#设置即梦模型
JIMENG_MODEL=jimeng

#设置封面图使用的模型
COVER_OPENAI_BASE_URL=https://api.openai.com/v1
COVER_OPENAI_API_KEY=sk-xxx
COVER_MODEL=gpt-4o
COVER_COUNT=2
SCREEN_BASE_URL=http://10.8.0.2:14140

#谷歌Gemini图像模型
GEMINI_IMAGE_OPENAI_BASE_URL=https://api.openai.com/v1
GEMINI_IMAGE_OPENAI_API_KEY=sk-xxx
GEMINI_IMAGE_COVER_MODEL=google/gemini-2.5-flash-image-preview:free

#Grok图像模型
GROK_IMAGE_OPENAI_BASE_URL=https://api.openai.com/v1
GROK_IMAGE_OPENAI_API_KEY=sk-xxx
GROK_IMAGE_IMAGE_MODEL=grok-imagine-1.0
GROK_IMAGE_IMAGE_EDIT_MODEL=grok-imagine-1.0-edit
GROK_VIDEO_MODEL=grok-imagine-1.0-video

#Mondo风格海报生成器
MONDO_OPENAI_BASE_URL=https://api.openai.com/v1
MONDO_OPENAI_API_KEY=sk-xxx
MONDO_IMAGE_MODEL=gemini-3.1-flash-image-preview
MONDO_TEXT_MODEL=deepseek-v3-2-251201

#通用文生图生成器配置
TEXT2IMAGE_OPENAI_BASE_URL=https://xxx/v1
TEXT2IMAGE_OPENAI_API_KEY=sk-xxx
TEXT2IMAGE_MODEL=gpt-4o-image
TEXT2IMAGE_MODELS=gpt-4o-image,klein
TEXT2IMAGE_SIZES=1024x1024x(1:1),1024x1536x(2:3),1536x1024x(3:2),1024x576x(16:9),576x1024x(9:16),1024x768x(4:3),768x1024x(3:4)
# 按 TEXT2IMAGE_MODELS 顺序配置每个模型生成张数，例如 1,3 表示第一个模型生成1张、第二个模型生成3张
TEXT2IMAGE_N=1,3
TEXT2IMAGE_TITLE=通用文生图生成器

#翻译代理
translate_proxy=

# fal.ai的API KEY
FAL_KEY=

# aichart的flowise访问地址
AICHART_FLOWISE_URL=
