#默认使用的模型API服务
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=sk-xxx

#设置封面图使用的模型
COVER_OPENAI_BASE_URL=https://api.openai.com/v1
COVER_OPENAI_API_KEY=sk-xxx
COVER_MODEL=gpt-4o
COVER_COUNT=2

#翻译代理
translate_proxy=

# fal.ai的API KEY
FAL_KEY=

# aichart的flowise访问地址
AICHART_FLOWISE_URL=